* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.item-image{
    width: 60%;
    height: 80vh;
    background-size: fill;
}
.nav-option{
    color: black;
}