<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This application is a restaurant management system designed to operate within a hotel environment. It enables guests who have already checked into their rooms to conveniently browse the menu and place food orders directly from their rooms, eliminating the need to visit the restaurant in person or place manual orders.<br><br>

As this system focuses specifically on restaurant functionality rather than full hotel management, room assignments and user account creation are handled separately through the Django administration interface. Each user is pre-associated with a room, ensuring a seamless and personalized ordering experience.<br><br>

In addition to the customer-facing features, the application provides a dedicated manager interface. Through this interface, authorized personnel can efficiently manage the restaurant’s offerings, including adding, editing, and deleting food items, as well as organizing categories and food types.<br><br>

Overall, this system aims to streamline in-room dining operations, improve efficiency for staff, and enhance convenience for hotel guests.

</body>
</html>