<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'Myapp/home.css' %}">
    </head>
<body>
    <h1>Welcome To Restaurant</h1>
    {% if user_id %}
        <h1>Welcome, {{username}}</h1>
        <p>Role: {{role}}</p>
        <form action="logout_view">
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <form action="login_view">
            <button type="submit">Login</button>
        </form>
    {% endif %}
    {% if role == 'manager' %}
    <form action="manager">
        <button type="submit">View Manager</button>
    </form>
    {% else %}
    <form action="menu">
        <button type="submit">View Menu</button>
    </form>
    {% endif %}
</body>
</html>