{% extends 'navbar.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'Myapp/home.css' %}">
    <div class="main-container">
         
        <h1 class="welcome-msg">WELCOME TO <br><span class="welcome-name">MY HOTEL RESTAURANT</span></h1>
        <div class="buttons-container">
            {% if user_id %}
                <form action="logout_view">
                    <button type="submit" class="button">LOG OUT</button>
                </form>
            {% else %}
                <form action="login_view">
                    <button type="submit" class="button">LOG IN</button>
                </form>
            {% endif %}
            {% if role == 'manager' %}
            <form action="manager">
                <button type="submit" class="button">VIEW MANAGER</button>
            </form>
            {% else %}
            <form action="menu">
                <button type="submit" class="button">VIEW MENU</button>
            </form>
            <form action="about" target="_blank">
                <button class="button">ABOUT THIS APP</button>
            </form>
            {% endif %}
        </div>
    </div>

    <div class="bottom-part">
        <div class="why-choose-us">
            <h1>Why Choose Us?</h1>
            <p>We obsess over every detail so your food arrives hot, fast, and exactly as ordered.</p>
        </div>
        <div class="perks">
            <div class="perk-card">
                <div class="perk-icon-container" style="background-color: rgb(251, 241, 220);">
                    <i class="fa-solid fa-van-shuttle" style="font-size: 30px;color: rgb(255, 173, 85);"></i>
                </div>
                <h2>Lightning Fast Delivery</h2>
                <p>Average 28-minute delivery across NYC. Real-time GPS tracking from restaurant to your door.</p>
            </div>
            <div class="perk-card">
                <div class="perk-icon-container" style="background-color: rgb(233, 255, 221);">
                    <i class="fa-solid fa-shield-halved" style="font-size: 30px;color: rgb(0, 145, 0);"></i>
                </div>
                <h2>Order Serverd to Room Directly</h2>
                <p>Follow your order every step of the way — from kitchen preparation to your doorstep arrival.</p>
            </div>
            <div class="perk-card">
                <div class="perk-icon-container" style="background-color: rgb(251, 241, 220);">
                    <i class="fa-solid fa-tag" style="font-size: 30px;color: rgb(255, 173, 85);"></i>
                </div>
                <h2>Exclusive Deals Daily</h2>
                <p>Members unlock up to 50% OFF with daily rotating coupons, combo offers, and loyalty rewards.</p>
            </div>
        </div>
    </div>

    <script rel="stylesheet" href="{% static 'Myapp/home.js' %}"></script>
{% endblock %}