<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(226, 238, 248);
            text-align: center;
            padding: auto;
        }
    </style>
</head>
<body>
    <h1>Welcome To Restaurant</h1>
    <form action="login_view">
        <button type="submit">Login</button>
    </form>
    <form action="menu">
        <button type="submit">View Menu</button>
    </form>
    <form action="manager">
        <button type="submit">View Manager</button>
    </form>
</body>
</html>