<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="current_orders">
        <button type='submit'>View Current Orders</button>
    </form>
    <form action="food_items">
        <button type="submit">View Food Items</button>
    </form>
    <form action="categories">
        <button type="submit">View Categories</button>
    </form>
    <form action="room_view">
        <button type="submit">View Rooms</button>
    </form>
    <form action="logout_view">
        <button type="submit">LogOut</button>
    </form>
    <form action="orders_history">
        <button type="submit">Orders History</button>
    </form>
</body>
</html>