<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="history.back()">back</button>
    <h1>Hi {{userName}}</h1>
    <h1>Welcome to Menu Page</h1>
    <form action="menu/item_details">
        <button type="submit">View Item</button>
    </form>
    <form action="user_order">
        <button type="submit">View Orders</button>
    </form>
</body>
</html>