{% extends 'navbar.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/Myapp/menu.css' %}">

    <div class="menu-img">
        <h1 class = "menu-heading">Great Food,<br><span class="delivered-fast">delivered fast.</span></h1>
        <p class="menu-desc">Order from 10,000+ restaurants near you. Track live, earn<br> rewards, get exclusive deals on every bite.</p>
        <div class="search-area">
            <input type="text" placeholder="Search Food Items" class="search-bar">
            <button class="search-btn">Search</button>
        </div>

        <div class="menu-app-info">
            <div class="menu-app-info-card"><p>10,000+<br><span class="menu-app-info-span">Food Items</span></p></div>
            <div class="menu-app-info-card"><p>10,000+<br><span class="menu-app-info-span">Avg Delivery</span></p></div>
            <div class="menu-app-info-card"><p>10,000+<br><span class="menu-app-info-span">App Rating</span></p></div>
            <div class="menu-app-info-card"><p>10,000+<br><span class="menu-app-info-span">Happy Orders</span></p></div>
        </div>
        
    </div>

    <div class="category-bar">
        {% for category in categories %}
            <div class="category-container">
                <p>{{category.name}}</p>
            </div>
        {% endfor %}
    </div>

    <div class="items-background-container">

        {% for item in foodItems %}
            <form action="menu/item_details/{{item.id}}">
                <button class="food-item-button">
                    <div class="food-item-container">
                        <div class="food-item-card">
                            <img src="{{item.image.url}}" class="food-item-image">
                        </div>
                        <div class="food-item-details-card">
                            <div class="food-item-divide">
                                <p class="food-item-name">{{item.name}}</p>
                                <div class="rating-card"><p>☆ 4.7</p></div>
                            </div>
                            
                            <p class="food-item-category">{{item.category.name}}</p>
                            <p class="food-item-price">₹{{item.price}}</p>
                            <p class="food-item-description">{{item.description}}</p>
                        </div>
                    </div>
                </button>
            </form>
        {% endfor %}
    </div>
    <script src="{% static 'Myapp/menu.js' %}"></script>
{% endblock %}